{% extends 'layout.html.twig' %}
{% set active = 'doctrine' %}

{% block content %}

    <h1>{{ 'Doctrine'|trans }}</h1>

    <ul>
        {% for data in configuration %}
            <li>{{ data.module_name }}</li>
                <ul>
                    <li>{{ data.controller_name }}</li>
                    <li>{{ data.action_name }}</li>
                </ul>
        {% endfor %}
    </ul>

{% endblock %}
