{% extends 'layout.html.twig' %}
{% set active = 'doctrine' %}

{% block content %}

    <h1>{{ 'Doctrine'|trans }}</h1>

    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul>

{% endblock %}
