/* Override some defaults */
html, body {
  background-color: #eee;
}

body {
  padding: 40px 0;
}

[class*="span"] {
  padding: 20px;
}

.page-header {
  background-color: #f5f5f5;
  margin: -20px -20px 20px;
  padding: 5px 20px;
}
/* Tweaked */

footer {
  margin-top: 20px;
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}
